:root {
  /* Colors */
  --color-1: rgb(102, 102, 204);
  --color-2: rgb(226, 226, 175);

  /* Font family */
  --font-family-group-1: Cambria, Cochin, Georgia, Times, "Times New Roman",
    serif;

  /* Font weight */
  --font-weight-bold: bold;
}

/*------------------------------- Basic Selectors -------------------------------*/
/*
  Specifity rules:
    1. * = 0
    2. Elements, pseudo elements = 1
    3. Class, pseudo class, attribute = 10
    4. Id = 100
    5. Inline styles = 1000
    !important overrides a css property
*/
/* 1. Select all elements. Specificity = 0. Very generic */
* {
  font-family: var(--font-family-group-1);
}

/* 2. Select all p element. Affects all p elements. Specificity = 1 */
p {
  color: var(--color-1);
}

/* 3. Selects all elements that have a .highlight class. Classes have a specificity = 10 */
.highlight {
  background-color: var(--color-2);
}

/* 4. Selects an element that have #unique id. Specificity = 100 */
#unique {
  font-weight: var(--font-weight-bold);
}
/*-------------------------------------------------------------------------------*/
