:root {
  /* Colors */
  --color-1: blue;
  --color-2: yellow;
  --color-3: red;
  --color-4: green;
  --color-5: purple;
  --color-6: orange;
  --color-7: gray;
  --color-8: black;

  /* Font family */
  --font-family-group-1: Cambria, Cochin, Georgia, Times, "Times New Roman",
    serif;

  /* Font size */
  --font-size-1: 2em;
  --font-size-2: 3em;
  --font-size-4: 4em;

  /* Font weight */
  --font-weight-bold: bold;

  /* Border width */
  --border-width-1: 2px;

  /* Letter spacing */
  --letter-spacing-1: 8px;
}

/*---------------------------------------------------------- COMBINATORS ----------------------------------------------------------------*/
.parent p {
  /* Selects all <p> elements that are descendants of elements with .parent class. Specificity = 10 + 1 = 11 */
  color: var(--color-3);
}

.father.mother {
  /* Selects all elements that has BOTH father and mother classes. Specificity = 20 */
  letter-spacing: var(--letter-spacing-1);
}

.father,
.mother {
  /* Selects elements that has either father or mother or BOTH. Specificity of each class is 10. They will not add up to 20 */
  text-decoration: line-through;
}

div.father.mother {
  /* Selects an element that has BOTH father and mother only in a div element. Specificity = 21 */
  font-size: var(--font-size-2);
}

/* Quiz: What do you think will happen? */
/* Quiz: What do you think is the specificity of .father .mother? */
.father .mother {
  text-decoration: underline;
}

.parent > p {
  /* p is a direct child of an element with .parent class. The symbol > means parent-child relationship. Specificity = 10 + 1  = 11 */
  font-style: italic;
}
/* Quiz: what will happen to the <p> inside the <span> and <label>? */

.parent > span > p {
  /* p is a direct child of span which is  direct child of an element with .parent class. Specificity = 10 + 1 + 1 = 12 */
  color: var(--color-4);
}
/* Quiz: why is --color-4 applied on .parent > span > p and not .parent p --color-3?  */
/* Quiz: what will happen to the <p> inside the <label>? */

div + p {
  /* only the first p element which is the immediate sibling of div element is selected. + is adjacent sibling. Specificity = 1 + 1 = 2 */
  color: var(--color-5);
}
/* Quiz: what do you think happens to <p>2nd Adjacent sibling example.</p>? */

div ~ p {
  /* All p elements that are siblings will be selected. ~ is general sibling. Specificity = 1 + 1 = 2 */
  text-decoration: underline;
}
/* Quiz: what do you think happens to <p>2nd Adjacent sibling example.</p>? */
/*------------------------------------------------------------------------------------------------------------------------------------------*/
