/*
Basic Flexbox Properties
- display: flex; & display: inline-flex; – Enables flexbox on a container.
- flex-direction – Controls the main axis (row, column, row-reverse, column-reverse).
- flex-wrap – Allows items to wrap onto new lines (wrap, nowrap, wrap-reverse).

Controlling Alignment & Spacing
- justify-content – Aligns items along the main axis (left, center, right, space-between, etc.).
- align-items – Aligns items along the cross axis (top, center, stretch, baseline).
*/

/* Explain the concept of main axis, cross axis is perpendicular to main axis
flex-direction = row -> main axis left to right
flex-direction = row-reverse -> main axis right to left
flex-direction = column -> main axis top to bottom
flex-direction = column-reverse -> main axis bottom to top */
/* Default behaviour, demo what happens when direction is reveversed for row */
.parent:nth-child(1) {
  height: var(--space-3);
  display: flex;
  gap: var(--space-1);
  align-items: flex-start; /* Demo this later */
  justify-content: flex-start; /* Demo this later */
}

/* Demo what happens when direction is reveversed for column */
.parent:nth-child(2) {
  height: var(--space-3);
  display: flex;
  flex-direction: column;
  gap: var(--space-1);
  justify-content: center; /* Demo this later */
  align-items: flex-end; /* Demo this later */
}

.parent:nth-child(3) {
  display: inline-flex;
  gap: var(--space-1);
}

/* Quiz (Ask later): Do you think align-items and justify-content will work for inline-flex */
.parent:nth-child(4) {
  display: inline-flex;
  flex-direction: column;
  gap: var(--space-1);
}

.parent:nth-child(5) {
  display: flex;
  gap: var(--space-1);
  flex-wrap: wrap;
}

.parent:nth-child(6) {
  display: flex;
  gap: var(--space-1);
  flex-wrap: nowrap;
}

.parent:nth-child(7) {
  display: flex;
  height: var(--space-3);
  flex-direction: column;
  gap: var(--space-1);
  flex-wrap: wrap;
}

.parent:nth-child(8) {
  display: flex;
  height: var(--space-3);
  flex-direction: column;
  gap: var(--space-1);
  flex-wrap: nowrap;
}
