:root {
  /* Colors */
  --color-1: blue;
  --color-2: yellow;
  --color-3: red;
  --color-4: green;
  --color-5: purple;
  --color-6: orange;
  --color-7: gray;
  --color-8: black;
  --color-9: white;

  /* Font family */
  --font-family-group-1: Cambria, Cochin, Georgia, Times, "Times New Roman",
    serif;

  /* Font size */
  --font-size-1: 2em;
  --font-size-2: 3em;
  --font-size-3: 0.5rem;
  --font-size-4: 4em;

  /* Font weight */
  --font-weight-bold: bold;

  /* Border width */
  --border-width-1: 0.125rem;
  --border-width-2: 0.25rem;

  /* Border radius */
  --border-radius-1: 1rem;
  --border-radius-2: 100%;

  /* Spacing */
  --space-1: 1rem;
  --space-2: 2rem;
  --space-3: 0.5rem;
  --space-4: 0.8125rem;
}

/* ------------------------Helper classes ---------------------------*/
.hidden {
  display: none;
}

input {
  appearance: none;
}

table {
  border: var(--border-width-1) solid var(--color-8);
  border-spacing: 0;
  cursor: pointer;
}

td,
th {
  border: var(--border-width-1) solid var(--color-8);
  padding: var(--space-1);
}

.container-1,
.container-2 {
  padding-top: var(--space-1);
}

.error-message {
  color: var(--color-3); /* red */
}

div:has(.input-2) {
  display: flex;
  gap: var(--space-3);
}

/* ------------------------------------------------------------------*/
