/* https://developer.mozilla.org/en-US/docs/Web/CSS/Pseudo-classes 
   Functional pseudo-classes
        :not() 
        :has()  (RRC todo)  :has(textarea), :has(input[type="checkbox"]:checked), :has(.classname), :has(input[type="radio"]:checked), :has(input[type="radio"]:not(:checked))
*/

/*-------------------------------- Functional pseudo-classes --------------------------------*/
/* not() matches any elements that are not part of the selectors */
section {
  padding: var(--space-1);
  border-bottom: var(--border-width-1) solid var(--color-7);
}
/* 
  section:last-child {
    border-bottom: none;
  } */
/* Below is a shortcut*/
/* :not() does not have a specificty. Whatever selector is part of the not raguments will have the specificity */
/* section:not(:last-child) {
    padding: var(--space-1);
    border-bottom: var(--border-width-1) solid var(--color-7);
  } */

/* :not(<complex-selector-list>), supports nesting */
/* <complex-selector-list> = class selctors, attribute selector, pseudo class*/
section ul li:not(:first-child, :last-child) {
  font-size: x-large;
}

/* Quiz: What will happen here? */
input:not([class]) {
  font-style: italic;
}

/* Quiz: What will happen here?
  Hint: :not() works on real selectors */
input:not(::placeholder) {
  color: var(--color-3); /* red */
}
/*-------------------------------------------------------------------------------------------*/
