/* https://developer.mozilla.org/en-US/docs/Web/CSS/Pseudo-classes 
   Tree-structural pseudo-classes (These pseudo-classes relate to the location of an 
   element within the document tree.)
        :root - refers to html
        :empty
        :nth-child()
        :first-child
        :last-child
        :last-of-type
        :nth-of-type() 
*/

/*------------------------------ Tree structural pseudo-classes -----------------------------*/
/* :empty selects elements with no children, or text within */
.api-data:empty::before {
  content: "No data yet";
  color: var(--color-7); /* gray */
  font-style: italic;
}

/* Show an instance where we use it on our code. Observe the actual height and width of it without :empty and with :empty. */
.error-message:empty {
  display: none;
}

/* Selects the first child element/descendant element of its parent 
Selects the first li of ul */
li:first-child {
  font-weight: var(--font-weight-bold);
}

/* Selects the last child element/descendant element of its parent. 
Selects the last li of ul */
li:last-child {
  font-style: italic;
}

/*Quiz: which <p> in .container-1 gets styled? */
/* .container-1 p:last-child {
  font-style: italic;
} */

/* Quiz: what happens here? */
/* .container-1 > p:last-child {
  font-style: italic;
} ???? */

/* n=0 2nd child is selected, n=1 3rd child is selected, n=2 4th child is selected*/
li:nth-child(n + 2) {
  color: var(--color-6); /* orange*/
}

/* Quiz: what happens here? */
/* li:nth-child(-n + 3) {
  border: var(--border-width-1) solid var(--color-6); 
} */

/* Quiz: what happens here? I want to select the 2nd <p> which is a child of .container-2 */
/* .container-2 p:nth-child(2) {
  font-weight: var(--font-weight-bold);
} ??? */

/* nth-child selects elements among all siblings regardless of type -> which can lead to wrong results */
/* nth-of-type() selects elements among siblings of the same type */
.container-2 p:nth-of-type(2) {
  font-weight: var(--font-weight-bold);
}

/* last-of-type selects last element among siblings of the same type */
.container-2 span:last-of-type {
  font-style: italic;
}
/* Quiz: what happens here? */
/* .container-2 span:last-child {
  font-style: italic;
} */

/* Quiz: what happens here? 
Can nth-child(), nth-of-type(), last-child, :last-of-type need a selector? or can they exist independently? */
/* .container-2 :last-of-type {
  font-size: var(--font-size-1);
} */
/*-------------------------------------------------------------------------------------------*/
