:root {
  /* Colors */
  --color-1: blue;

  /* Font weight */
  --font-weight-bold: bold;
}

/*--------------------- Start: Helper classes---------------------------------*/
.link-1,
.link-2 {
  color: var(--color-1); /* blue */
  font-weight: var(--font-weight-bold); /* bold */
}
/*----------------------- End: Helper classes---------------------------------*/

/*----------------------------------------------------------------------------*/
/* Concept of event bubbling. when children is hovered, parent is hovered
so when i is hovered a is hovered and a:hover span takes place */
a {
  text-decoration: none;
}

a:hover span {
  text-decoration: underline;
}

/* For link-1 as well when i hover over span, link-1 is hovered
when link-1 is hovered, .link-1:hover span and .link-1:hover i take place
and that is why every text-decoration takes place */
.link-1:hover {
  cursor: pointer;
  text-decoration: line-through;
}

.link-1:hover span {
  text-decoration: underline;
}

.link-1:hover i {
  text-decoration: overline;
}

.link-2:hover {
  cursor: pointer;
  text-decoration: none;
}

/* a i:has(+ span:hover) */
/* a span:has(+ i:hover) */
/* div.div-link span:hover {
    text-decoration: underline;
  } */

/*----------------------------------------------------------------------------*/
