:root {
  /* Colors*/
  --color-1: gray;
  --color-2: white;
  --color-3: black;
  --color-4: red;
  --color-5: blue;
  --color-6: yellow;
  --color-7: green;

  /* Border width */
  --border-width-1: 0.125rem;
}

/*---------------- Start - Helper classes ----------------*/
section:not(:last-child) {
  border-bottom: var(--border-width-1) solid var(--color-1);
}

.position-helper {
  position: relative; /* RRC: what happens when you change it?*/
}

/*----------------- End - Helper classes -----------------*/

/*----------------- 1. Position - static -----------------*/
/* All elements have static by default. Positioned according to normal flow, top/left/right/bottom and z-index are not applicable */
.position-static {
  position: static;
  top: 20px;
}
/*--------------------------------------------------------*/

/*---------------- 2. Position - relative ----------------*/
/* Elements are positioned relative to itself in the normal position. Remains part of the normal flow */
.position-relative-1 {
  position: relative;
  left: 20px;
  top: 30px;
}

.position-relative-2 {
  position: relative;
  bottom: 20px;
  right: 20px;
}

/* relative to itself and not something else. Hence, for that left and top are enough */
.position-relative-3 {
  position: relative;
  top: 10px;
  left: 20px;
  bottom: 30px;
  right: 40px;
}
/*--------------------------------------------------------*/

/*----------------- 3. Position - fixed ------------------*/
/* Elements are positioned relative to the viewport. Elements taken away from normal flow */
/* Quiz: What is a viewport? */
/* Explain why the width is auto */
.header,
.footer {
  position: fixed;
  background-color: var(--color-2);
  border: var(--border-width-1) solid var(--color-3);
}

.header {
  top: 0px;
}

.footer {
  bottom: 0px;
  /* top: 10px; */ /* Comment it out and explain why the stretch takes place */
}
/*--------------------------------------------------------*/

/*--------------- 4. Position - absolute -----------------*/
/* Elements are positioned based on the positioned ancestor. Elements taken away from normal flow */
.position-absolute-1 {
  position: absolute;
  top: 10px;
  /* bottom: 10px;  */ /* Quiz: what happens if I comment it out? */
  background-color: var(--color-6);
}

.position-absolute-2 {
  position: absolute;
  top: 10px;
  /* bottom: 10px; */ /* RRC Explain why it "disappears"*/
  background-color: var(--color-1);
}
/*--------------------------------------------------------*/

/*--------------- 5. Position - sticky -------------------*/
/* Toggles between relative and fixed (fixed when scrolled). Remains part of the normal flow. Scrollable container is needed */
.position-sticky-1 {
  position: sticky;
  background-color: var(--color-7);
  top: 0;
}
/*--------------------------------------------------------*/

/*---------------------- 6. z-index ----------------------*/
.box {
  color: var(--color-2);
  position: relative;
}

/* Quiz: z-index what is it? */
.box-1 {
  z-index: 2;
  left: 10px;
  background-color: var(--color-4); /* red */
}

.box-2 {
  z-index: 1; /* Quiz: What if this is 2 what happens, will box-1 or box-2 appear at the top and why? */
  right: 10px;
  background-color: var(--color-5); /* blue */
}
/*--------------------------------------------------------*/
