:root {
  /* Colors */
  --color-1: blue;
  --color-2: yellow;
  --color-3: red;
  --color-4: green;
  --color-5: purple;
  --color-6: orange;
  --color-7: gray;
  --color-8: black;
  --color-9: white;
  --color-10: antiquewhite;
  --color-11: hsla(49, 33%, 91%, 0.6);

  /* Font family */
  --font-family-group-1: Cambria, Cochin, Georgia, Times, "Times New Roman",
    serif;

  /* Font size */
  --font-size-1: 2em;
  --font-size-2: 3em;
  --font-size-4: 4em;

  /* Font weight */
  --font-weight-bold: bold;

  /* Border width */
  --border-width-1: 0.125rem;

  /* Border radius */
  --border-radius-1: 1rem;
  --border-radius-2: 1.5rem;

  /* Spacing */
  --space-1: 1rem;
  --space-2: 10rem;

  /* Blur */
  --blur-1: blur(0.5rem);
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/Pseudo-elements 
   ::before
   ::after 
   ::placeholder, ::-webkit-input-placeholder
   ::-webkit-scrollbar, ::-webkit-scrollbar-track, ::-webkit-scrollbar-thumb
   
   ::marker
   ::first-letter
   ::first-line
*/
/*------------------------------- Pseudo-Elements -------------------------------*/
.first-letter::first-letter,
.without-first-letter > span {
  /* Pseudo elements have the same specificty of an element = 1 point */
  font-size: var(--font-size-1);
  color: var(--color-3);
}

.without-first-line > span,
.first-line::first-line {
  color: var(--color-7);
}

.without-after-before > span {
  color: var(--color-1);
}

.after-before::before {
  content: "“"; /* content works with pseudo elements and not on real selectors. it works on ::marker, ::after, ::before */
  color: var(--color-1);
}

.after-before::after {
  content: "”";
  color: var(--color-1);
}

/* Quiz: and what do you think will happen? */
/* .after-before::before {
  content: "“";
  color: var(--color-3);
} */

/* ::marker supports - color, content, font css properties */
/* ::marker (inline) does not support - background, margin, width, padding, margin */
::marker {
  color: var(--color-6);
}

/* * As of 8 Mar 2025, -webkit-* is not supported in Firefox */
/* -webkit-, -moz- -> vendor prefixes (allow browsers to support experimental or 
non-standard CSS before they become official.) */
::-webkit-input-placeholder,
::placeholder {
  color: var(--color-6);
}
/* Quiz: What do you think will happen if we do [placeholder]? */

/* Supports width (vertical scroll), height (horizontal scroll), background */
*::-webkit-scrollbar {
  width: var(--space-1);
  background: var(--color-3);
}

/* Supports background, border radius, border, box-shadow */
*::-webkit-scrollbar-thumb {
  border-radius: var(--border-radius-1);
  background-color: var(--color-1);
}

/* Supports background, border radius, border, box-shadow */
*::-webkit-scrollbar-track {
  background-color: var(--color-2);
  border-radius: var(--border-radius-2);
}

/* As of 8 Mar 2025, Safari does not support these, -webkit version will work */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-5) var(--color-6);
}

/* Quiz: pseudo elements like ::marker, ::placeholder can be used independently. why? 
Why can't ::after, ::before be used independently? */

/* FYI - dialog and ::backdrop */
dialog {
  background-color: var(--color-10);
  min-width: var(--space-2);
  border-radius: var(--border-radius-2);
}

dialog::backdrop {
  background-color: var(--color-11);
  backdrop-filter: var(--blur-1);
  -webkit-backdrop-filter: var(--blur-1);
}
/*-------------------------------------------------------------------------------*/
